* {
  font-family:Arial, Helvetica, sans-serif;
  margin: 0;
  color: #B4A5A5;
}

body {
  background-image: url("pawel-czerwinski-BPrk2cOoCq8-unsplash.jpg") ;
}
.grid-page{
  
  /* grid  */
  display: grid;
  grid-template-columns: 0.25fr 4fr 0.25fr;
  grid-template-rows: 80px 1fr 80px;
  grid-template-areas:
    'navv navv navv'
    ". content ."
    "footer footer footer";
}


nav {
  /* Define-grid */
  grid-area: navv;

  /* Text */
  color: #B4A5A5;

  /* Gaps & Position */
  position:fixed;
  align-items: center;
  width: 100%;
  height: 1rem;
  padding: 1rem;

  /* Color */
  background-color: #151515;
  z-index: 999;
}

.nav-text {
  /* nav-text */
  justify-content: center;
  font-size: 1rem;
}

.nav-home {
  /* nav-portfolio */
  inline-size: auto;
  float: left;
}
.nav-ludwiganderzen, .nav-portfolio{
  /* nav-ludwiganderzen */
  float: right;
  inline-size: auto;
  padding-right: 1rem;
}
.nav-jonkoping {
  /* nav-portfolio */
  inline-size: auto;
  float: right;
  margin-right: 2rem;
}



content {
  /* Define-grid */
  display: grid;
  grid-area: content;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  
  /* Color */

  /* Gaps */
  padding: 1rem;
  grid-gap: 1rem;
}

.box {
  /* Box-color  */
  margin-top: 10rem;
  background-color: rgb(43, 43, 43);
  color: #B4A5A5;

  /* Padding  */
  padding: 1.5rem;

  /* Apperance */
  border-radius: 1rem;
  height: auto;

  /* Text */
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}
.box:hover {
  background-color: #171717;
  opacity: 0.85;
  cursor: pointer;
}

.desciption {
  font-size: 0.8rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #B4A5A5;
}
a:visited {
  color: #B4A5A5;
}

img {
  height: 90%;
  width: 100%;
  position: relative;
  border-radius: 1rem;
}


footer {
  /* Define-grid  */
  grid-area: footer;

  /* Colour */
  background-color: #141414;
  color: #B4A5A5;
  
  /* Position */


  /* Text */
  padding: 2rem;
}