* {
  font-family:Arial, Helvetica, sans-serif;
  margin: 0;
  color: #B4A5A5;
}

body {

  background-image: url("qingbao-meng-01_igFr7hd4-unsplash.jpg");
  background-size: 250rem 120rem;
}
.grid-page{
  
  /* grid  */
  display: grid;
  grid-template-rows: 80px 1fr ;
  grid-template-areas: 
  "nav nav nav"
  ". content ."
  "footer footer footer";

}


nav {
  /* Text */
  font-weight: 600;
  color: #B4A5A5;
  z-index: 2;

  /* Gaps & Position */
  position:fixed;
  align-items: center;
  width: 100%;
  height: 1rem;
  padding: 1rem;

  /* Color */
  background-color: #151515;
}

.nav-text {
  /* nav-text */
  margin: 0;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
}
.nav-text::after {
  content: '';
  height: 1px;
  width: 0%;
  background-color: #B4A5A5;
  display: block;
  transition: .25s ease-in-out;
}
.nav-text:hover::after{
  content: '';
  height: 2px;
  width: 100%;
  background-color: orange;
  display: block;
  transition: .5s ease-in-out;
}

.nav-home {
  /* nav-portfolio */
  inline-size: auto;
  float: left;
}
.nav-ludwiganderzen, .nav-portfolio {
  /* nav-ludwiganderzen */
  float: right;
  inline-size: auto;
  margin-right: 1rem;
}
.nav-jonkoping {
  /* nav-portfolio */
  inline-size: auto;
  float: right;
  margin-right: 2rem;
}

content {
  /* Define-grid */
  display: grid;
  grid-area: content;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  
  /* Color */

  /* Gaps */
  padding: 1rem;
}

.box {
  /* Box-color  */
  margin-top: 5rem;
  background-color: rgb(43, 43, 43);
  color: #B4A5A5;

  /* Padding  */
  padding: 1rem;

  /* Apperance */
  border-radius: 1rem;
  height: auto;

  /* Text */
  font-size: 1.5rem;
  font-weight: 600;
  width: 30%;
}
p {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 400;
}

li{
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #B4A5A5;
}
a:visited {
  color: #B4A5A5;
}

img {
  height: auto;
  width: 100%;
  position: relative;
  border-radius: 1rem;
}


footer {
  /* Define-grid  */
  grid-area: footer;

  /* Colour */
  background-color: #141414;
  color: #B4A5A5;
  
  /* Position */

  /* Text */
  padding: 2rem;
}